/* 
didactic purposes
Some items are intentionally not optimized or not coded in the right way
FastTrackIT 2015,
version 1.0
*/

body {

    background-color:floralwhite;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    line-height: 125%;
    padding: 0;
    margin: 0;
    background-image: url("Fruits.png");
}

#sitebranding a {
    color:antiquewhite;
    font-weight:bold;
}

#sitebranding {
    text-align:right;
    padding-top:30px;
    padding-right:20px;
    padding-bottom:5px;
}


h1 {
    font-size: large;
    background-color: cornflowerblue;
    color: white;
    padding-top: 2em;
    padding-bottom: .2em;
    padding-left: .4em;
    margin: 0;
}

#tagline p {
    text-align:center;
    font-style: italic;
    font-family: Georgia, Times, serif;
    border-bottom: 10px double #500d1d;
    padding-top: 1.2em;
    padding-bottom: .2em;
    padding-left: .8em;
    margin: 0;
    font-size:25px;
    line-height:1.2;
    text-shadow:10px -6px 2px #080707;
    color:antiquewhite;
}

#header {
    position: absolute;
    border-top: 3px solid #7da5d8;
    width: 100%;

}

#navigation {
    position: absolute;
    top: 230px;
    left:373px;
    width: 180px;
    height: 180px;
    padding-left: .8em;
    font-size:25px;
    line-height:1.2;
    font-weight:bold;
}
#navigation a {
    color:white;
    text-shadow:10px -6px 2px #000000;
}

#bodycontent {
    position: absolute;
    left: 575px;
    top: 230px;
    padding-top:.4em;
    padding-left:2em;
}

#postcontent {
    position: absolute;
    left: 825px;
    top: 230px;
    width: 200px;
    height:180px;
    font-size:25px;
    line-height:1.2;
    font-weight:bold;
}

#postcontent a {
    color:white;
    text-shadow:10px -6px 2px #000000;
}

#serverResponse {
    position: absolute;
    top: 440px;
    left: 315px;
    width: 738px;
    color: red;
    padding-left: .8em;
    font-size:25px;
    font-weight:bold;
    line-height:1.1;
    text-shadow:3px -2px 0px #000000;
    text-align:center;
}

#form {
    border-width:4px;
    border-style:double;
    border-color:#500d1d;
}

#form label {
    color:white;
    text-shadow:2px -1px 1px #000000;
}









/* padding - between border and text -*/


/* class selector*/
.test {
    color: #aa0044;
}

.highlight {
    border-width: 10px;
    border-style: inset;
    border-color: #999999;
}